*{
  box-sizing:border-box;
}

body{
  margin:0;
  padding:0;
  background-color: #252526;
}

header{
  color:white;
  background:linear-gradient(#3f3f41,#252526);
  font-size:32px;
  font-weight: 700;
  font-family: sans-serif;
  text-align: center;
  padding-top:32px;
  padding-bottom:16px;
}
.content-container{
  display:flex;
  flex-direction: column;
  align-items: center;

}
#grid_div{
  box-sizing: border-box;
  display:inline-grid;
  background-color: white;
  grid-template-rows: repeat(16, 2fr);
  grid-template-columns: repeat(16, 2fr);
  height: 575px;
  width: 575px;
  margin:16px;

}
.square{
  background-color: white;
  border:1px solid rgb(207, 207, 207);
}


.colorSelector{
  display:flex;
  align-content: stretch;
  gap:32px;
  width:575px;

}
/* Colors */
#color{
  flex:1;
  height:40px;
  text-align: center;
  font-weight: 800;
  padding: 8px 12px;
  border:1px solid rgb(199, 199, 199);
  font-family: sans-serif;
  border-radius: 4px;
  margin:16px 0;
  color:white;
}
.black{
  background-color: black;
}

.gray{
  background-color: gray;
}

.rainbow{
  background:linear-gradient(red,yellow,green,blue,violet);
}

.eraser{
  background-color: rgb(185, 34, 34);
}

/* Bottom Content */
.bottom{
  display:flex;
  gap:16px;
  width:575px;
  align-items: flex-end;}
label{
  color:white;
  font-size: 16px;
  font-weight: 800;
  font-family: sans-serif;
}
.userInput{
  display:flex;
  flex:1;
  gap:8px;
  align-items: flex-end;
}

#quantity{
  display: flex;
  flex-direction: column;
  width:300px;  

}

.grid-output{
  color:White;
  font-size: 16px;
  font-weight: 800;
  padding:2px;
}

.clear{
  color:white;
  font-size: 16px;
  font-weight: 700;
  font-family: sans-serif;
  border:none;
  width:96px;
  height:32px;
  border-radius: 4px;
  background-color: rgb(173, 28, 28);
}


#footer{
  position:fixed;
  height:50px;
  bottom:0;
  left:0;
  right:0;
  margin-bottom:0;

  text-align: center;
  color:white;
  font-size: 16px;

}

/*
*{
  box-sizing: border-box;
}

body{
  margin:0;
  padding:0;
  background-color: #252526;
}

header{
  color:white;
  font-size: 32px;
  font-weight:700;
  font-family: sans-serif;
  text-align: center;
  justify-content: center;
  padding:40px;
  background:linear-gradient(#3f3f41,#252526);
}


.content-container{ 
  display:flex;
  flex-direction: column;
  margin:30px;
  justify-content:space-evenly;
}



.square:hover{
  background-color: aqua;
}
#grid_div{
  box-sizing: border-box;
  display:inline-grid;
  background-color: white;
  border:2px solid black;
  grid-template-rows: repeat(16, 2fr);
  grid-template-columns: repeat(16, 2fr);
  height: 575px;
  width: 575px;
}
.square{
  background-color: white;
  border:1px solid black;
}




.right-content{
  text-align: center;
}

.title,label,.choices{
  color:white;
}

.title{
  font-size: 24px;
  font-weight: 800;
}

.right-content{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
label{
  font-size:16px;
  font-weight: 700;
}
#container-choice{
display:flex;
flex-direction: column;
gap:16px;
}
.choices{
  font-size:24px;
  font-weight: 700;
}
.userInput{
  display:flex;
  flex-direction: column;
  gap:50px;

}
.popular-choices{
  width:575px; 
  box-sizing: border-box;
  display:inline-grid;
  grid-template-rows: repeat(3, 2fr);
  grid-template-columns: repeat(3, 2fr);
}
.pop-grid{
  background-color: white;
  padding:20px;
  align-items: center;
  margin:8px;
  border-radius: 8px;
  font-family: sans-serif;
  font-weight: 400;
}

.pop-grid:hover{
  background-color:#FFC000;
}

*/